services/api/.phpunit.cache
services/api/node_modules
services/api/public/build
services/api/public/hot
services/api/public/storage
services/api/storage/.key
services/api/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
services/api/.fleet
services/api/.idea
services/api/.vscode
.DS_Store
services/api/resources/views/vendor/